.btn {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--light-color);
  background-color: var(--dark-color);
  border: 2px solid transparent;
  border-radius: 4px;
  transition: .3s ease-in-out;

  svg {
    color: var(--light-color);
  }

  &:hover {
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    background-color: transparent;
    transition: .3s ease-in-out;

    svg {
      color: var(--dark-color);
    }
  }
}
