.social-item {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
  border: 2px solid var(--dark-color);
  border-radius: 4px;
  cursor: pointer;
  transition: .3s ease-in-out;

  svg {
    color: var(--dark-color);
  }

  &:hover {
    background-color: var(--dark-color);
    transition: .3s ease-in-out;

    svg {
      color: var(--light-color);
    }
  }
}
