.contact {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    textarea {
      resize: none;
      min-height: 140px;
    }

    .contact-form-input {
      width: 100%;
      padding: 16px 24px;
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      letter-spacing: -0.02em;
      color: var(--dark-color);
      border: 2px solid var(--dark-color);
      border-radius: 4px;

      &::placeholder {
        color: var(--zinc-500);
      }

      &:focus {
        outline: 2px solid rgba(113, 113, 122, 0.4);
        border: 2px solid var(--zinc-500);
      }
    }

    .contact-form-action {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
    }

    .contact-form-socials {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
    }
  }

  .contact-info {
    .contact-title {
      text-align: left;
      margin-bottom: 20px;
    }

    .contact-info-description {
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: var(--zinc-500);
    }
  }
}

@media screen and (max-width: 1024px) {
  .contact {
    .container {
      grid-gap: 40px;
    }
  }
}

@media screen and (max-width: 999px) {
  .contact {
    .container {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
