<section class="contact">
  <div class="container">
    <form class="contact-form">
      <input type="text" class="contact-form-input" placeholder="Your name">
      <input type="text" class="contact-form-input" placeholder="Email">
      <input type="text" class="contact-form-input" placeholder="Your website (If exists)">
      <textarea type="text" class="contact-form-input" placeholder="How can I help?*"></textarea>
      <div class="contact-form-action">
        <app-button [title]="'Get In Touch'"/>
        <div class="contact-form-socials">
          <app-social-item [svgName]="'twitter'"/>
          <app-social-item [svgName]="'twitter'"/>
          <app-social-item [svgName]="'twitter'"/>
          <app-social-item [svgName]="'twitter'"/>
        </div>
      </div>
    </form>
    <div class="contact-info">
      <h2 class="common-title contact-title">
        <strong>
          Let’s <span class="outline-text">talk</span> for <br>
          Something special
        </strong>
      </h2>
      <p class="contact-info-description">
        I seek to push the limits of creativity to create high-engaging, user-friendly, and memorable interactive experiences.
      </p>
    </div>
  </div>
</section>
