.header {
  padding: 24px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 2px;

    span {
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.02em;
      text-transform: capitalize;
      color: var(--dark-color);
    }
  }

  .nav-list {
    display: flex;
    gap: 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
  }

  .burger {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  .header {
    padding: 16px 0;

    .container {
      padding: 0 10px;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 2px;

      span {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.02em;
        text-transform: capitalize;
        color: var(--dark-color);
      }
    }

    .nav-list {
      display: none;
    }

    .resume-btn {
      display: none;
    }

    .burger {
      display: block;
      background-color: black;
    }
  }
}
