.header {
  padding: 24px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 2px;

    span {
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.02em;
      text-transform: capitalize;
      color: var(--dark-color);
    }
  }

  .nav-list {
    display: flex;
    gap: 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
  }

  .burger {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  .header {
    padding: 16px 0;

    .logo {
      display: flex;
      align-items: center;
      gap: 2px;

      span {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.02em;
        text-transform: capitalize;
        color: var(--dark-color);
      }
    }

    .nav-list {
      display: none;
    }

    .resume-btn {
      display: none;
    }

    .burger {
      display: block;
      margin: 9px 5px;
      width: 27px;
      height: 18px;
      position: relative;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: var(--dark-color);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
          top: 0;
          transform-origin: left center;
        }

        &:nth-child(2) {
          top: 9px;
          transform-origin: left center;
        }

        &:nth-child(3) {
          top: 18px;
          transform-origin: left center;
        }
      }

      &.open span:nth-child(1) {
        transform: rotate(45deg);
        top: -2px;
        left: 4px;
      }

      &.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      &.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 17px;
        left: 4px;
      }
    }
  }
}
