<header class="header">
  <div class="container">
    <a href="#" class="logo">
      <svg icon="logo" class="svg40"></svg>
      <span>Personal</span>
    </a>
    <nav class="nav">
      <ul class="nav-list">
        @for (menuItem of menuItems; track menuItem.id) {
          <li class="nav-item">
            <a href="#" class="nav-link">{{ menuItem.title }}</a>
          </li>
        }
      </ul>
    </nav>
    <div class="resume-btn">
      <app-button [title]="'Resume'" [svgName]="'download'"></app-button>
    </div>
    <div class="burger" [class.open]="isOpen" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
