.skills {
  .skill-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px 60px;
  }
}

@media screen and (max-width: 1023px){
  .skills {
    .skill-items {
      gap: 20px;
    }
  }
}
