<section class="skills">
  <div class="container">
    <h2 class="common-title skills-title">My <strong>Skills</strong></h2>
    <div class="skill-items">
      <app-skill-item [title]="'Git'" [svgName]="'git'" />
      <app-skill-item [title]="'Git'" [svgName]="'git'" />
      <app-skill-item [title]="'Git'" [svgName]="'git'" />
      <app-skill-item [title]="'Git'" [svgName]="'git'" />
      <app-skill-item [title]="'Git'" [svgName]="'git'" />
      <app-skill-item [title]="'Git'" [svgName]="'git'" />
      <app-skill-item [title]="'Git'" [svgName]="'git'" />
      <app-skill-item [title]="'Git'" [svgName]="'git'" />
      <app-skill-item [title]="'Git'" [svgName]="'git'" />
      <app-skill-item [title]="'Git'" [svgName]="'git'" />
    </div>
  </div>
</section>
