.skill-item {
  padding: 32px 24px;
  width: 186px;
  height: 186px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border: 2px solid var(--dark-color);
  border-radius: 4px;
  transition: .3s ease-in-out;

  .skill-icon svg {
    color: var(--dark-color);
    transition: .3s ease-in-out;
  }

  .skill-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--dark-color);
    transition: .3s ease-in-out;
  }

  &:hover {
    background-color: var(--dark-color);
    transition: .3s ease-in-out;

    .skill-icon svg {
      color: var(--light-color);
      transition: .3s ease-in-out;
    }

    .skill-title {
      color: var(--light-color);
      transition: .3s ease-in-out;
    }
  }
}

@media screen and (max-width: 1023px){
  .skill-item {
    padding: 20px;
    width: 160px;
    height: 160px;
  }
}
