:root {
  --dark-color: #000000;
  --light-color: #ffffff;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-500: #71717a;
  --zinc-800: #27272a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

body {
  font-family: "Sora", sans-serif;
  background-color: var(--light-color);
}

section {
  padding: 60px 0;
}

@media screen and (max-width: 1023px){
  section {
    padding: 40px 0;
  }
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1023px){
  .container {
    padding: 0 10px;
  }
}

.svg56 {
  width: 56px;
  height: 56px;
}

.svg40 {
  width: 40px;
  height: 40px;
}

.svg36 {
  width: 36px;
  height: 36px;
}

.svg24 {
  width: 24px;
  height: 24px;
}

.svg20 {
  width: 20px;
  height: 20px;
}

.svg16 {
  width: 16px;
  height: 16px;
}

.svg14 {
  width: 14px;
  height: 14px;
}

.common-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 80px;

  strong {
    font-weight: 800;
  }
}

@media screen and (max-width: 768px) {
  .common-title {
    font-size: 28px;
    line-height: 114%;
    margin-bottom: 40px;
  }
}
