<div class="project-item">
  <div class="project-item-image">
    <img src="./assets/images/projects/project-1.png" alt="">
  </div>
  <div class="project-item-info">
    <div class="project-item-count">01</div>
    <h3 class="project-item-title">Crypto Screener Application</h3>
    <p class="project-item-description">
      I'm Flora Sheen Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
      scrambled it to specimen book.
    </p>
    <a href="#" class="project-item-link">
      <svg icon="link" class="svg20"></svg>
    </a>
  </div>
</div>
