.project-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 56px;

  .project-item-info {
    max-width: 582px;

    .project-item-count {
      font-weight: 800;
      font-size: 48px;
      line-height: 117%;
      letter-spacing: -0.02em;
      color: var(--light-color);
      margin-bottom: 28px;
    }

    .project-item-title {
      font-weight: 700;
      font-size: 32px;
      line-height: 125%;
      letter-spacing: -0.02em;
      color: var(--light-color);
      margin-bottom: 28px;
    }

    .project-item-description {
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: var(--zinc-500);
      margin-bottom: 28px;
    }

    .project-item-link svg {
      color: var(--light-color)
    }
  }

  .project-item-image {
    border-radius: 19px;
  }
}

@media screen and (max-width: 1023px) {
  .project-item {
    max-width: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .project-item {
    .project-item-info {
      .project-item-count {
        font-size: 24px;
        line-height: 117%;
      }

      .project-item-title {
        font-size: 20px;
        line-height: 120%;
      }

      .project-item-description {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: var(--zinc-500);
        margin-bottom: 28px;
      }

      .project-item-link svg {
        color: var(--light-color)
      }
    }
  }
}
