<section class="main">
  <div class="container">
    <div class="main-info">
      <h2 class="main-title">
        Hello I’am <strong>Irina</strong>. <br>
        <strong>Fullstack</strong> <strong class="outline-text"> Developer</strong>
        Based In <strong>Russia</strong>.
      </h2>
      <p class="main-description">
        I'm Flora Sheen Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to specimen book.
      </p>
      <div class="social-media">
        <app-social-item [svgName]="'twitter'"></app-social-item>
        <app-social-item [svgName]="'twitter'"></app-social-item>
        <app-social-item [svgName]="'twitter'"></app-social-item>
        <app-social-item [svgName]="'twitter'"></app-social-item>
      </div>
    </div>
    <div class="main-image">
      <img src="./assets/images/main.png" alt="">
    </div>
  </div>
</section>
