<section class="main">
  <div class="container">
    <div class="main-info">
      <h2 class="common-title main-title">
        Hello, I am <strong>Irina</strong>. <br>
        <strong>Fullstack</strong> <strong class="outline-text"> Developer</strong>
        <!--        Based In <strong>Russia</strong>.-->
      </h2>
      <p class="main-description">
        I'm Irina, a passionate full-stack developer trainee balancing frontend & backend projects. Since 2022, I've
        worked as a layout designer and now gain hands-on experience with PHP, MySQL, Yii2, Angular & NestJS, delivering
        clean and efficient solutions.
      </p>
      <div class="social-media">
        <app-social-item [svgName]="'telegram'"></app-social-item>
        <app-social-item [svgName]="'whatsapp'"></app-social-item>
        <app-social-item [svgName]="'instagram'"></app-social-item>
        <app-social-item [svgName]="'git'"></app-social-item>
      </div>
    </div>
    <div class="main-image">
      <img src="./assets/images/main.png" alt="">
    </div>
  </div>
</section>
