.main {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    grid-gap: 30px;
  }

  .main-image {
    max-width: 580px;
    width: 100%;
  }

  .main-info {
    max-width: 600px;
    width: 100%;
  }

  .main-title {
    text-align: left;
    margin-bottom: 32px;
  }

  .main-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 80px;
  }

  .social-media {
    display: flex;
    gap: 32px;
  }
}

@media screen and (max-width: 1002px) {
  .main {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    .main-description {
      margin-bottom: 32px;
    }

    .social-media {
      gap: 24px;
    }
  }
}
