.btn {
  padding: 16px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--light-color);
  background-color: var(--dark-color);
  border-radius: 4px;

  svg {
    stroke: var(--light-color);
  }
}
